<% if user_signed_in? %>
<% else %>

<form>
    <div class="container">
      <div class="container">
        <%= image_tag "logo.png" , :style => "width:300px"%>
      </div>
      <div class="container">
        <%= link_to "Inicio Sesión", new_user_session_path , :class => 'btn btn-info'%>
        <%= link_to "Registrarse", new_user_registration_path , :class => 'btn btn-warning' %>
      </div>
    </div>
  </form>
<% end%>

<div class="g g--masonry-2-to3-up">
  <% @pines.each do |pine| %>
  <div class="g__item">
    <div class="block">
      <% if user_signed_in? %>
      <%= button_to "Like", likes_path(@like, :type => pine.id), method: :post,  :class => 'btn btn-secondary',:value=>'read more' %>
      <% end %>
      <%= image_tag(pine.foto, class:'block__img') %>
      <h3 class="block__title"><%= pine.nombre %></h3>
      <h5 class="block__title"><%= pine.descripcin %></h5>
    </div><!--end block-->

  </div><!--end g__item-->

<% end %>


</div><!--end g-->

<section>
  "Pinterest es una plataforma para compartir imágenes que permite a los usuarios crear y
  administrar, en tableros personales temáticos, colecciones de imágenes como eventos, intereses,
  hobbies y mucho más. Los usuarios pueden buscar otros pinboards, "repinear" imágenes para sus
  propias colecciones o marcarlas con un me gusta."
</section>
