<p id="notice"><%= notice %></p>

<h1>Pines</h1>
<div class="g g--masonry-2-to3-up">
  <% @pines.each do |pine| %>
  <div class="g__item">
    <div class="block">
      <%= image_tag(pine.foto, class:'block__img') %>
      <h2 class="block__title"><%= pine.nombre %></h2>
        <h2 class="block__title"><%= pine.descripcion %></h2>
    </div><!--end block-->
  </div><!--end g__item-->


<% end %>
</div><!--end g-->

<section>
  New Section stuff Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit odio consequuntur corrupti facilis perferendis quo quaerat fugiat maxime libero corporis, accusantium saepe, repellendus ratione odit impedit, explicabo mollitia veritatis, nulla.
</section>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcin</th>
      <th>Foto</th>
      <th>Likes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pines.each do |pine| %>
      <tr>
        <td><%= pine.nombre %></td>
        <td><%= pine.descripcin %></td>
        <td><%= pine.foto %></td>
        <td><%= pine.likes %></td>
        <td><%= link_to 'Show', pine %></td>
        <td><%= link_to 'Edit', edit_pine_path(pine) %></td>
        <td><%= link_to 'Destroy', pine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pine', new_pine_path %>
