<p id="notice"><%= notice %></p>
<div class="g g--masonry-2-to3-up">
  <% @likes.each do |like| %>
  <% @pines.each do |pine| %>
    <% if like.pin_id == pine.id %>
  <div class="g__item">
    <div class="block">
      <%= image_tag(pine.foto, class:'block__img') %>
      <h3 class="block__title"><%= pine.nombre %></h3>
      <h5 class="block__title"><%= pine.descripcin %></h5>
      <i class="fas fa-heart fa-lg"><%= pine.likes %></i>
    </div><!--end block-->
  </div><!--end g__item-->

  <% end %>
   <% end %>
  <% end %>


</div><!--end g-->

<section>
  "Pinterest es una plataforma para compartir imágenes que permite a los usuarios crear y
  administrar, en tableros personales temáticos, colecciones de imágenes como eventos, intereses,
  hobbies y mucho más. Los usuarios pueden buscar otros pinboards, "repinear" imágenes para sus
  propias colecciones o marcarlas con un me gusta."
</section>
